.FilterPage {
  background-color: black;
  opacity: 0.5;
  width: 100vh;
  height: 100vh;
  position: absolute;
  z-index: 1001;
}
.button_filter_close {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  align-items: center;
  position: absolute;
  top: 90vh;
  left: 20vh;
}
