:root{
    --colorPrimary : #24242a;
    --colorSecondary : #09ace7;
}
.contenerFilter{
    width: calc(100vw - 2rem);
    margin: 1rem;
    position: absolute;
    top: 0;
    background-color: var(--colorPrimary);
  }
.buttonContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.filterButtons{
    padding: 1rem;
    margin: 0.5rem;
    background-color: var(--colorPrimary);
    color: var(--colorSecondary);
    border: 1px solid var(--colorSecondary);
    border-radius: 4rem;
}
.filterButtons:hover{
    background-color: var(--colorSecondary);
    color:var(--colorPrimary);
}
.contener{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding : 0;
}
.fuelElement{
    margin: 0.5rem;
    color: var(--colorSecondary);
}
.fuelElement h2{
    font-size: 1rem;
    width: max-content;
}

