
.station{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid black;
  font-size:x-small;
}

.stationInfo{
  display: flex;
  flex-direction: column;
  }

.imageAndState{
  display: flex;
  justify-content: space-around ;
}

.nameStation{
  display: flex;
  justify-content: space-around;
}

.adressStation{
  display: flex;
  justify-content: center;
}

.fuelListing{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid black;
  }

.fuelListing{
  display: flex;
  align-items: center;
}
.figure{
  margin: 5px;
  height: auto;
}

.imageFavorite{
  display: flex;
  justify-content: center;
  margin-top: 8px;
}