.station {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid black;
  font-size: x-small;
  font-family: "Rubik", sans-serif;
}

.stationInfo {
  position: relative;
  display: grid;
}
.stationInfo > img {
  width: 40px;
}
.fuelListing {
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid black;
  align-content: flex-start;
}

.fuelListing {
  display: flex;
  align-items: center;
}
.fuelPrice {
  margin: 5px;
  height: auto;
  font-size: 12px;
}
.logoCarburant {
  width: 3.5rem;
}
.imageFavorite {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0px;
}
.isFavorite,
.notFavorite {
  width: 20px;
}

.circleColor {
  height: 20px;
  width: 20px;
  background-color: rgb(49, 147, 41);
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.listing {
  overflow: auto;
}
.adressStation {
  font-size: 20px;
  text-align: center;
}
.isOpenText,
.stateStation {
  font-size: 15px;
}

@media screen and (min-width: 800px) {
  .listing {
    width: 30vw;
  }
}
