.station {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid black;
  font-size: x-small;
}

.stationInfo {
  position: relative;
  display: grid;
}

.fuelListing {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid black;
}

.fuelListing {
  display: flex;
  align-items: center;
}
.figure {
  margin: 5px;
  height: auto;
}

.imageFavorite {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0px;
}

.circleColor {
  height: 20px;
  width: 20px;
  background-color: rgb(49, 147, 41);
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
