.icon {
  width: 6rem;
  padding: 0.3rem;
}
header {
  padding: 0.4rem;
  display: flex;
  justify-content: space-between;
  background-color: #3589a7;
  align-content: center;
  position: sticky;
}

.search {
  border-radius: 50px;
  height: 2.4rem;
  text-align: center;
  flex: 1 ;
  border: 0;
  outline: none;
  padding: 0.2rem 40px;
}
.nav-search{
  margin: 0%;
}
header form {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
}
header form input {
  box-shadow: 3px 3px 10px black;
  width: 45%;
}
.buttonFilter {
  cursor: pointer;
  padding: 0;
  margin: 0;
  height: 3rem;
}
.buttonFilter>img {
  width: 2.5rem;
  padding-top: 0.2rem;
}
header button {
  box-shadow: 3px 3px 10px black;
  border-radius: 15px;
  border: 1px solid #265364;
  color: white;
  border-radius: 10px;
  padding: 0.2rem;
}

.searchButton{
  background: none ;
  box-shadow: none;
  border-radius: 50px;
  border: 0;
  position: relative;
  right: 45px;
  cursor: pointer;
}
.searchButton>img{
  width: 2rem;
}
.positionAsk{
  background: none ;
  box-shadow: none;
  border-radius: 50px;
  border: 0;
  position: relative;
  left: 45px;
  cursor: pointer;
}
.positionAsk>img{
  width: 2rem;
}

@media screen and (min-width: 800px){
header{
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  --flex:2;
}
}