.icon{
    width: 6rem;
    padding-top: 1rem;
    margin-top: 0.4rem;
}
.icon1{
    width: 3rem;
    padding-top: 1rem;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #3589a7;
}

.search{
    border-radius: 6%;
    height: 2.4rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.nav-search{
    padding-top: 1rem;
}
